html,
body {
    height: 100%;
}

body {
    background-color: #fff;
}

#root {
    width: 100%;
}

.main {
    background-repeat: no-repeat;
    /* background-image: url(../images/bg-minimal.jpg); */
    background-size: cover;
    background-position: right center;
    width: 100%;
    height: 100%;
    visibility: inherit;
    z-index: 20;
}

.logintxt {
    color: #c2c3cc;
}

.copytext {
    margin-top: 80px;
    text-align: center;
    color: #c2c3cc;
}

.registertxt {
    font-size: 16px;
}

.errortext {
    color: #ff2222;
}

.dash-header-top {
    background-color: #192d56;
    height: 60px;
    padding: 0px 50px 0px 50px;
}

.dash-header-bottom {
    background-color: #fff;
    /* height: 60px; */
    padding: 0px 50px 0px 32px;
}

.dash-header-txt {
    color: #fff;
    font-size: 14;
}

.nav-link {
    color: #9e9aad;
}

.nav-link.active {
    color: #000;
}

.content {
    padding: 60px!important;
    background-color: #efeff4;
}

.content-title {
    color: #192d56;
    font-weight: 700;
}

.input-group-addon {
    background-color: #fff!important;
}

.passinput {
    border-top-right-radius: 4px!important;
    border-top-left-radius: 4px!important;
}

.inputicon {
    font-size: 1.8rem;
    padding: 0px;
    background: unset;
    border: unset;
}

.content-table {
    margin: 50px 10px 10px 10px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px #dedee2;
}

.content-table th,
.content-table td {
    padding: 10px 20px 8px 20px !important;
}

.tableheader {
    color: #9e9fad;
}

.activestatus {
    color: #27ae60;
}

.viewdetails {
    color: #f38d08;
    cursor: pointer;
}

.modal-right-panel {
    color: #9e9fad;
    border-right: 1px solid #e7e8ec;
}

.fa-times {
    position: absolute;
    right: 0;
}

.userModal p {
    margin-bottom: 30px;
}

.btn-outline-warning {
    border: 1px solid #ffc107!important;
}

.btn-outline-danger {
    border: 1px solid #dc3545!important;
}

.logout {
    cursor: pointer;
}

.footertext {
    margin-top: 30px;
    color: #9e9fad;
}

.usermodal {
    top: 60%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 30px;
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0.3 !important;
}

.fade {
    opacity: 1 !important;
    transition: opacity 0.15s linear;
}

.modal.fade .modal-dialog {
    transform: unset !important;
    transition: unset !important;
    margin: auto !important;
}

.modal {
    top: 200px !important;
}

.navbar-collapse {
    margin-left: 30px !important;
    margin-top: 20px!important;
}

.navbar-toggler {
    position: absolute !important;
    left: 0px!important;
    top: 10px!important;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav-header {
    box-shadow: unset !important;
}

table th,
table td {
    font-size: 14px;
    padding: 10px!important;
}

.pagination .page-item .page-link {
    font-size: 14px;
}

.contenttable {
    background-color: #fff;
    padding: 20px;
}

.addadmin {
    background-image: unset;
}

.removebtn {
    font-size: 12px!important;
}

.alerttxt {
    font-size: 20px;
    text-align: center;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link,
.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, .5);
}

.navbar .dropdown-menu a {
    font-size: 12px;
}

.activedropdown a {
    color: #000 !important;
}

.vehiclemodal {
    height: 500px;
    overflow: auto;
}

.reportdiv {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px #dedee2;
}

.reporttitle {
    color: #f38d08;
    font-size: 14px;
}

.reportselect {
    border: unset;
    color: #f38d08;
    box-shadow: unset;
    padding: 0;
}

.reportselect:focus {
    border: unset;
    color: #f38d08;
    box-shadow: unset;
    padding: 0;
}

.tabletitle {
    color: #9e9fad;
}

.reporttable {
    height: 250px;
    overflow: auto;
}

.growthtitle {
    color: #494B60;
    font-size: 16px;
    font-weight: 700;
}

.datepicker {
    width: 150%;
}

.react-datepicker {
    font-size: 12px;
}

.navbar-top-default {
    position: absolute;
    top: 0;
    z-index: 99;
    overflow: hidden;
    height: 90px;
    width: 100%;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

header a.logo {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

header a.logo img {
    max-height: 35px;
    max-width: 100px;
    vertical-align: sub;
    margin-top: 8px;
}

.navbar-expand-lg,
.navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar-top-default #wexim {
    margin-right: -30px;
}

.navbar-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: auto;
}

.navbar-nav .nav-link {
    padding: .4rem 0;
    color: #FFFFFF;
    font-weight: 300;
    min-width: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.phone_title {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}

.phone_box {
    position: absolute;
    top: 31vh;
    right: 16%;
}

body {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1500px) {
    .phone_box {
        position: absolute;
        top: 33vh;
        right: 16%;
    }
}

@media (max-width: 840px) {
    .phone_box {
        position: absolute;
        top: 33vh;
        right: 20%;
    }
}

.phone_body_title {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.custom_btn {
    background: #313131 !important;
    border-color: #313131 !important;
    text-align: inherit !important;
    line-height: 25px !important;
    border-width: 2px !important;
    margin: 0px !important;
    padding: 9px 34px !important;
    letter-spacing: 0px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #fff !important;
    border-radius: 50px !important;
    text-align: center !important;
}

.custom_btn:hover {
    background: #000 !important;
    border-color: #fff !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 16px);
    padding: .575rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 30px;
}

.login-btn {
    background-color: #0069d9;
    font-size: 20px;
    color: #fff;
}

.influencer-btn {
    background-color: #23272b;
    font-size: 20px;
    color: #fff;
}

.dashboard_navbar {
    position: relative;
    padding: .5rem 1rem;
    background-color: #9c9c9c;
    height: 70px;
}

.navbar-collapse {
    margin-top: 10px!important;
    color: #fff !important;
}

.inputtxt {
    height: 35px;
    border-radius: 10px;
}

.navbar {
    box-shadow: unset !important;
}

.jobmodal {
    top: 100px!important;
}

svg {
    display: none;
}

.combo-select {
    position: relative;
    width: 75%;
}